<nav class="navbar bg-success p-2 text-white bg-opacity-105 mb-5">
  <img
    class="img-fluid logo-title"
    src="assets/Black_Clover_Logo.png"
    alt="Black_Clover_Logo"
  />
  <div class="container text-white justify-content-center">
    <h1>Welcome to the Kingdom of Clover</h1>
  </div>
</nav>

<h2 class="text-center fst-italic fw-bold">Equipe du Taureau Noir 🍀</h2>

<br />

<div
  class="input-group container  w-50 "
>
<span class="input-group-text">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-search-heart"
      viewBox="0 0 16 16"
    >
      <path
        d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018"
      />
      <path
        d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"
      />
    </svg>
  </span>
  <input id="search" type="text" class="form-control" placeholder="Recherché un mage..." #searchField [value]="searchTerm()" (input)="searchTerm.set(searchField.value)"/>
</div>

<br />

<div class="container">
  <div class="row">
    @for(mage of mageListFiltered(); track mage.id){
    <div class="col-md-4">
      <div class="card mb-3" appMageBorder [mageName]="mage.name">
        <div class="row g-0">
          <div
            class="col-md-4 d-flex align-items-center justify-content-center bg-light"
          >
            <img
              class="img-fluid rounded-start w-100 h-100"
              [src]="mage.picture"
              [alt]="mage.name"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold fst-italic">{{ mage.name }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Tranche de vie : {{ size(mage) }}
              </h6>
              <p class="card-text">{{ mage.created | date : "dd/MM/yyyy" }}</p>
              <p class="card-text">Points de vie : {{ mage.life }}</p>
              <div class="btn-group btn-group-sm" role="group">
                <button
                  class="btn btn-outline-success"
                  (click)="incrementLife(mage)"
                  [disabled]="mage.life >= 40"
                >
                  +
                </button>
                <button
                  class="btn btn-outline-danger"
                  (click)="decrementLife(mage)"
                  [disabled]="mage.life <= 10"
                >
                  -
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>


<footer class="container-fluid bottom-0">
    <div class="text-end p-2 bg-body-secondary position-absolute end-0 ">
        © 2024 Copyright - Caprice NDOMBI MOUIRI
    </div> 
</footer>

