<p-toolbar styleClass="bg-success mb-5">
  <div class="p-toolbar-group-center">
    <h1 class="text-white">Hello Clover Land 👋 🍀</h1>
  </div>
</p-toolbar>

  <div class="container">
    <div class="column">
        @for(mage of mageList(); track mage.id){
            <div class="col-md-4">
                <p-card class="mb-3">
                  <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center bg-light">
                      <img [src]="mage.picture" [alt]="mage.name" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ mage.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                          Taille : {{ size(mage) }}
                        </h6>
                        <p class="card-text">Points de vie : {{ mage.life }}</p>
                        <div class="btn-group btn-group-sm" role="group">
                          <p-button label="+" (onClick)="incrementLife(mage)" [disabled]="mage.life >= 40"/>
                          <p-button label="-" severity="danger" (onClick)="decrementLife(mage)" [disabled]="mage.life <= 10"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-card>
              </div>

        }
    </div>
  </div>

